<p-card header="Role Management">
    <div class="p-grid p-fluid" style="justify-content: space-between;">
      <div class="p-col-12 p-md-4">
        <p-inputText placeholder="Search..." [(ngModel)]="searchTerm"></p-inputText>
      </div>
      <div class="p-col-12 p-md-8" style="text-align: right;">
        <button pButton type="button" icon="pi pi-plus" class="p-button-rounded p-button-success p-button-sm" (click)="openNew()"></button>
      </div>
    </div>
    
    <p-table [value]="roles" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10, 20, 30]" responsiveLayout="scroll">
      <ng-template pTemplate="header">
        <tr>
          <th>Role Name</th>
          <th>Description</th>
          <th>Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-role>
        <tr>
          <td>{{ role.name }}</td>
          <td>{{ role.description }}</td>
          <td>
            <button pButton type="button" icon="pi pi-pencil" class="p-button-rounded p-button-warning p-button-sm mr-1"  (click)="editRole(role)"></button>
            <button pButton type="button" icon="pi pi-trash" class="p-button-rounded p-button-danger p-button-sm" (click)="deleteRole(role)"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>
  
  <p-dialog header="Role Details" [(visible)]="roleDialog" [modal]="true" [style]="{width: '50vw'}">
    <form [formGroup]="roleForm" (ngSubmit)="saveRole()">
      <div class="p-fluid">
        <div class="p-field">
          <label for="name">Role Name</label>
          <input id="name" type="text" pInputText formControlName="name"/>
        </div>
        <div class="p-field">
          <label for="description">Description</label>
          <textarea id="description" pInputTextarea formControlName="description"></textarea>
        </div>
      </div>
      <div class="p-dialog-footer mt-2">
        <button pButton type="submit" label="Save" class="p-button-success"></button>
        <button pButton type="button" label="Cancel" class="p-button-secondary" (click)="hideDialog()"></button>
      </div>
    </form>
  </p-dialog>
  