<div class="mb-2">
  <p-accordion [activeIndex]="0">
    <p-accordionTab header="ค้นหารายการตั๋วรถเมล์">
      <div class="flex flex-wrap gap-3 mb-2">
        <div class="flex-auto">
          <label for="integer" class="font-bold block mb-2"> ราคาตั๋วรถเมล์ </label>
          <input placeholder="กรอกคำค้นหา" type="number"
            (input)="datatableFare.filter(getDataInput($event),'fareValue' , 'contains')" pInputText id="integer"
            class="w-full" />
        </div>
        <div class="flex-auto">
          <label for="integer" class="font-bold block mb-2"> รายละเอียดราคาตั๋วรถเมล์ </label>
          <input placeholder="กรอกคำค้นหา" (input)="datatableFare.filter(getDataInput($event),'fareDesc' , 'contains')"
            pInputText id="integer" class="w-full" />
        </div>
        <div class="flex-auto"></div>
        <div class="flex-auto"></div>
        <div class="flex-auto"></div>
        <div class="flex-auto"></div>
      </div>
    </p-accordionTab>
  </p-accordion>
</div>
<p-accordion [activeIndex]="0">
  <p-accordionTab header="รายการตั๋วรถเมล์">
    <div class="flex justify-content-between mb-3">
      <h2></h2>
      <p-button (click)="openSidebar()" icon="pi pi-plus" label="เพิ่มตั๋วรถเมล์"
        styleClass="p-button-success p-button-sm"></p-button>
    </div>
    <p-table #datatableFare [value]="dataTable" styleClass="p-datatable-gridlines" [paginator]="true" [rows]="10"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="แสดง {first} ถึง {last} จาก {totalRecords} ทั้งหมดรายการ"
      [rowsPerPageOptions]="[10, 25, 50]">
      <ng-template pTemplate="header">
        <tr>

          <th style="text-align: center;min-width: 60px;">ลำดับที่</th>
          <th pSortableColumn="fareValue" style="text-align: center;">ราคาตั๋วรถเมล์ <p-sortIcon
              field="fareValue"></p-sortIcon></th>
          <th>รายละเอียดราคาตั๋วรถเมล์</th>
          <th class="text-center">วันที่สร้าง</th>
          <th class="text-center">จัดการ</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item let-i="rowIndex">
        <tr>
          <td style="text-align: center;">{{ i + 1 }}</td>
          <td style="text-align: center;">{{ item.fareValue ?? '-' }} </td>
          <td>{{ item.fareDesc ?? '-' }} </td>
          <td class="text-center">{{ item.createDate ?? '-' | thaiDate }}</td>
          <td class="text-center">
            <p-button (click)="openSidebarEdit(item)" icon="pi pi-file-edit"
              styleClass="p-button-warning mr-2"></p-button>
            <p-button (click)="confirmDelete(item)" icon="pi pi-trash" styleClass="p-button-danger"></p-button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-accordionTab>
</p-accordion>
<p-dialog [draggable]="false"
  [header]=" this.actionStatus == 'save' ? 'เพิ่มข้อมูลราคาตั๋วรถเมล์' : 'แก้ไขข้อมูลราคาตั๋วรถเมล์' "
  [(visible)]="sidebar" [modal]="true" [style]="{ width: '45vw', height: '350px' }">
  <form [formGroup]="registerForm">
    <div class="p-3">
      <div class="grid">
        <div class="col-12 md:col-6 lg:col-6">
          <div class="p-fluid">
            <label>ราคาตั๋วรถเมล์ <span style="color: red">*</span></label>
            <input pInputText type="number" placeholder="กรอกข้อมูลราคาตั๋วรถเมล์" formControlName="fareValue"
              [ngStyle]="isFieldValid('fareValue') ? {border: '1px solid red', borderRadius: '7px'} : null" />
          </div>
        </div>
        <div class="col-12 md:col-6 lg:col-6">
          <div class="p-fluid">
            <label>รายละเอียดราคาตั๋วรถเมล์ <span style="color: red">*</span></label>
            <input pInputText formControlName="fareDesc" placeholder="กรอกข้อมูลรายละเอียดราคาตั๋วรถเมล์"
              [ngStyle]="isFieldValid('fareDesc') ? {border: '1px solid red', borderRadius: '7px'} : null" />
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="text-center gap-3 mt-4">
    <p-button (click)="onCloseAction()" icon="pi  pi-times" label="ยกเลิก"
      styleClass="p-button-secondary p-button-sm p-button-w mr-2"></p-button>
    <p-button (click)="validateForm()" icon="pi pi-save" label="บันทึก"
      styleClass="p-button-success p-button-sm p-button-w"></p-button>
  </div>
</p-dialog>

<p-confirmDialog [style]="{ width: '33vw' }" acceptLabel="ยืนยัน" rejectLabel="ยกเลิก" position="top"
  rejectButtonStyleClass="p-button-outlined"></p-confirmDialog>