<div class="fullscreen-bg" [style.background-image]="'url(' + imageUrlBackgroung + ')'">
  <div class="contarct">
    <p-card header="" subheader="" [style]=" { 'background-color': '#f4f5f6' }" [style.width.rem]="'35'"
      [style.height.rem]="'38'" [style.border-radius.px]="'10'">
      <div class="grid ">
        <div class="col">
          <span class="image">
            <img [src]="imageUrl" style="width: 100px;" />
          </span>
          <div class="image">
            <b style="font-size: 21px;margin-bottom: 4px;margin-top: 10px;">องค์การขนส่งมวลชนกรุงเทพ</b>
          </div>
          <div class="image">
            <b style="font-size: 18px; color: #919497">ระบบบริหารจัดการใบเที่ยวรถโดยสารประจำทาง</b>
          </div>
        </div>
      </div>
      <div class="grid pl-3 pr-3" style="margin-left: 15px;margin-right: 15px;">
        <div class="col">
          <div class="flex flex-column gap-2 mt-2">
            <label>ผู้ใช้งาน</label>
            <input pInputText [(ngModel)]="username" (input)="onInputChange($event)" />
          </div>
          <br />
          <div class="flex flex-column gap-2">
            <label>รหัสผ่าน</label>
            <input type="password" pInputText [(ngModel)]="password" (input)="onInputChangeTrim($event)" />
          </div>
          <b style="color: #0252b3" class="mb-3 button-forget mt-4"></b>
          <div class="p-fluid">
            <button (click)="onLogin()" label="เข้าสู่ระบบ" pButton></button>
          </div>
        </div>
      </div>
      <div class="image mt-2">
        <p style="color: #adacac; margin-top: 10px">
          ระบบเวอร์ชัน 1.0.0
        </p>
      </div>
    </p-card>
  </div>
</div>

<p-toast></p-toast>